@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==== Custom Scrollbar ==== */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* ==== Font Smoothing & Transition Global ==== */
body {
  @apply antialiased transition-colors duration-300 ease-in-out;
}
